:root {
  --bg-main: #f3f8ff;
  --bg-card: #ffffff;
  --bg-soft: #f2f8ff;
  --primary: #7bbcff;
  --primary-strong: #6aaeff;
  --text-main: #1f2933;
}

body.dark {
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-soft: #24334a;
  --primary: #93c5fd;
  --primary-strong: #60a5fa;
  --text-main: #e5e7eb;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--bg-card);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(123, 188, 255, 0.25);
  padding: 30px;
  width: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px; /* ← TO JE KLJUČ */
}
.date h1,
.date h2,
.date h3 {
  margin: 0;
  color: var(--primary);
}

.progress {
  text-align: right;
  color: var(--primary);
  font-size: 12px;
}

#themeToggle {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* FORM */
form {
  display: flex;
  margin-top: 20px;
}

input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-soft);
  color: var(--text-main);
}

button {
  margin-left: 10px;
  border: none;
  background: var(--primary-strong);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/*SECTIONS */
.sectionTitle {
  margin: 15px 0 5px;
  font-size: 14px;
  color: var(--primary);
}

/*TASKS */
.taskList {
  margin-bottom: 10px;
}

.task {
  background: var(--bg-soft);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  cursor: pointer;
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.task.dragging {
  opacity: 0.4;
}


